# The number of milliseconds of each tick
tickTime={{zookeeper.tickTime}}
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir={{zookeeper.working_dir}}
# the port at which the clients will connect
clientPort={{zookeeper.port}}
# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns=300
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=1

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
#metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
#metricsProvider.httpPort=7000
#metricsProvider.exportJvmInfo=true

server.1={{ hostvars[groups['leader'][0]].ansible_host}}:2888:3888;2181
server.2={{ hostvars[groups['follower'][0]].ansible_host}}:2888:3888;2181
server.3={{ hostvars[groups['follower'][1]].ansible_host}}:2888:3888;2181