{{ hostvars[groups['slaves'][0]].inventory_hostname}}
{{ hostvars[groups['slaves'][1]].inventory_hostname}}
{{ hostvars[groups['slaves'][2]].inventory_hostname}}
{{ hostvars[groups['slaves'][3]].inventory_hostname}}
{{ hostvars[groups['slaves'][4]].inventory_hostname}}